server:
  port: 8080
spring:
  application:
    #应用的名称，可选
    name: reggie_take_out
#  datasource:
#    druid:
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      url: jdbc:mysql://localhost:3306/reggie?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
#      username: root
#      password: root

# 读写分离配置
  shardingsphere:
    datasource:
      names:
        master,slave
      # 主数据源
      master:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.30.10:3306/reggie?characterEncoding=utf-8
        username: root
        password: root
      # 从数据源
      slave:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://192.168.30.11:3306/reggie?characterEncoding=utf-8
        username: root
        password: root
    masterslave:
      # 负载均衡、读写分离配置
      load-balance-algorithm-type: round_robin #轮询
      # 最终的数据源名称
      name: dataSource
      # 主库数据源名称
      master-data-source-name: master
      # 从库数据源名称列表，多个逗号分隔
      slave-data-source-names: slave
    props:
      sql:
        show: true #开启控制台SQL显示输出，默认false
  #允许Bean定义覆盖，sharding框架JDBC和Druid框架JDBC，因为两个数据源对象都需要创建Bean发生冲突
  main:
    allow-bean-definition-overriding: true

#redis中间件缓存配置
  redis:
    host: 127.0.0.1
    port: 6379
    #password: root@123456
    database: 0
  cache:
    redis:
      time-to-live: 1800000 #缓存过期时间30分钟

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
mybatis-plus:
  configuration:
    #在映射实体或者属性时，将数据库中表名和字段名中的下划线去掉，按照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID
reggie:
  path: ${user.dir}/src/main/resources/uploadImages/
#reggie:
#  path: /usr/local/img
